<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<br>
<br>
<h2>Movie Details</h2>
<br>
<div class="container">
    <div class="row">
    <div class="col-5">
<table class="table table-striped" th:object="${movieDetails}">
    <tr>
        <th></th>
        <td th:object="${movie}"><b th:text="*{name}"></b></td>
    </tr>
    <tr>
    <th>Year</th>
    <td><b th:text="*{year}"></b></td>
</tr>
    <tr>
        <th>Category</th>
        <td th:text="*{category}" /></td>
    </tr>
</table>
    </div>
    <div class="col">
<img class="rounded mx-auto d-block" th:object="${movieDetails}" th:src="@{*{url}}" alt="/static/resources/images/movie_night.jpg" width="45%" height="80%">
    </div>

    </div>
</div>
</body>

</html>
