<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<br>
<br>
<h2>Movie Details</h2>
<br>
<div class="container">
    <div class="row">
    <div class="col-5">
<table class="table table-striped" th:object="${movie}">
    <tr>
        <th></th>
        <td ><b th:text="*{title}"></b></td>
    </tr>
    <tr>
    <th>Year</th>
    <td th:text="*{year}"></td>
</tr>
    <tr>
        <th>Category</th>
        <td th:text="*{genre}" /></td>
    </tr>
    </tr>
    <tr>
        <th>Country</th>
        <td th:text="*{country}" /></td>
    </tr>
    <tr>
        <th>Duration</th>
        <td th:text="*{minutes} + ' min'" /></td>
    </tr>
    <tr>
        <th>Directors</th>
        <td th:text="*{director}" /></td>
    </tr>
</table>
    </div>
    <div class="col">
<img class="rounded mx-auto d-block"  th:src="@{*{movie.poster}}" alt="No picture available" width="45%" height="80%">
    </div>

    </div>
</div>
</body>

</html>
